@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

 body {
    font-family: montserrat, sans-serif;
}

.header__list {
    display: flex;
    justify-content: center;
}

.header__list a {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
}

.header__item {
    margin: 27px 35px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-weight: 700;
}
.header__item a {
    color: #FF0000;
    text-decoration: none;
}

.img {
    background-image: url(../img/sunset.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 789px;
}

.background__text {
    background: rgba(0, 0, 0, 0.0001);
}

h2 {
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.maintext {
    text-align: center;
    margin: 0 auto;
    max-width: 1320px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.button {
    margin: 0 auto;
    border: 0;
    display: block;
    background: #FF0000;
    padding: 18px 43px;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footertext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: end;
    margin: 82px 105px 30px;
}